# This GitHub action runs your tests for each commit push and/or PR. Optionally
# you can turn it on using a cron schedule for regular testing.
#
name: Tests
on:
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
  push:
    branches: [ master ]
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
  # For systems with an upstream API that could drift unexpectedly (like most SaaS systems, etc.),
  # we recommend testing at a regular interval not necessarily tied to code changes. This will
  # ensure you are alerted to something breaking due to an API change, even if the code did not
  # change.
  schedule:
    - cron: '0 13 * * *'

# From https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#concurrency
# When a concurrent job or workflow is queued, if another job or workflow using the same
# concurrency group in the repository is in progress, the queued job or workflow will be pending.
# Any previously pending job or workflow in the concurrency group will be canceled.
concurrency: "TfAccTests"

jobs:
  # ensure the code builds...
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: '1.22'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.3.3

    - name: Get dependencies
      run: |
        go mod download
    - name: Build
      run: |
        go build -v .
  # run acceptance tests in a matrix with Terraform core versions
  test:
    name: Matrix Test
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        # list whatever Terraform versions here you would like to support
        terraform:
          - '1.0.3'
    steps:

    - name: Set up Go
      uses: actions/setup-go@v2.1.3
      with:
        go-version: '1.22'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.3.3

    - name: Get dependencies
      run: |
        go mod download

    - name: TF acceptance tests
      timeout-minutes: 55
      env:
        TF_ACC: "1"
        TF_ACC_TERRAFORM_VERSION: ${{ matrix.terraform }}

        # Set whatever additional acceptance test env vars here. You can
        # optionally use data from your repository secrets using the
        # following syntax:
        # SOME_VAR: ${{ secrets.SOME_VAR }}
        SUMOLOGIC_ACCESSID: ${{ secrets.SUMOLOGIC_ACCESSID }}
        SUMOLOGIC_ACCESSKEY:  ${{ secrets.SUMOLOGIC_ACCESSKEY }}
        SUMOLOGIC_ENVIRONMENT:  ${{ secrets.SUMOLOGIC_ENVIRONMENT }}
        SUMOLOGIC_TEST_BUCKET_NAME:  ${{ secrets.SUMOLOGIC_TEST_BUCKET_NAME }}
        SUMOLOGIC_TEST_ROLE_ARN:  ${{ secrets.SUMOLOGIC_TEST_ROLE_ARN }}
        SUMOLOGIC_TEST_GOOGLE_APPLICATION_CREDENTIALS:  ${{ secrets.SUMOLOGIC_TEST_GOOGLE_APPLICATION_CREDENTIALS }}

      # disable go test timeout. We rely on GitHub action timeout.
      run: |
        go test -timeout 0 -v -cover ./sumologic/
